body > .container > .jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#token {
    margin-top: 15px;
}
.wrapper{
  position: absolute;
  width:100%; 
  height:100%;
  background-color: black;
  z-index: -2;
}
.invited {
  color: #4caf50;
}
.pending_invitation {
  color: #e51c23;
}
.bg {
  position: absolute;
  background-image: url('/bg.jpg');
  z-index: -1;
  width:100%; 
  height:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  clip: rect(5px,295px,295px;5px);
  -webkit-clip: rect(5px,295px,295px;5px);
  overflow: hidden;
}
.footer {
  text-align: right;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-left: 10px;
  position: fixed;
  color: black;
}
.white-footer{
  color: rgb(221, 221, 221) !important;
}
.loader-wrapper{
  z-index: 0;
  background: #2B3134 !important;
  color: #777;
  text-align: center;
  font-family: "Gill sans", sans-serif;
  height:100%;
}
/*
  center exactly the loading div
}*/
.exactCenter {
  margin: 0 0 2em;
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.exactCenter > h1{
  color: white !important;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #2196f3;
}