<template name="communities">
  <div class="row">
    <div class="col-md-4">
      <h3>Community List</h3>
      <div class="list-group">
        {{#each communities}}
          <a class="list-group-item community {{#if selected}}active{{/if}}">{{slack_domain}}</a>
        {{/each}}
        <a class="list-group-item add_community"> Add new community</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h5>Let your users join at: 
        {{#linkTo route="inviteform" data=community}}
          {{urlFor route="inviteform" data=community }}
        {{/linkTo}}
        <div class="checkbox">
          <label class="auto_invite">
            <input type="checkbox" name="auto_invite" id="auto-invite" checked="{{community.auto_invite}}"> Auto-invite all users, disable to approve users manually
          </label>
        </div>
        <a class="btn btn-sm btn-warning edit_community" role="button">Edit Community</a>
        <a class="btn btn-sm btn-danger delete_community" role="button">Delete Community</a>
      </h5>
      </div>
      <div class="row">
        <h3>User List</h3>
        <ul class="list-group">
        {{#if has_members}}
          {{#each members}}
            <li class="list-group-item">
              {{ user_email }}
              {{#if invited}}
              <span class="pull-right invited">
                <i class="glyphicon glyphicon-ok"></i> Invited
                <a class="btn btn-sm btn-primary send" role="button">Resend</a>
              </span>
              {{else}}
                <span class="pull-right pending_invitation">
                  <i class="glyphicon glyphicon-remove"></i> Pending Invitation
                  <a class="btn btn-sm btn-success send" role="button">Invite</a>
                </span>
              {{/if}}
            </li>
          {{/each}}
        {{else}}
          <li class="list-group-item">No users for now.</li>
        {{/if}}
        </ul>
      </div>
    </div>
  </div>
  
</template>